// for top index

.what-our-client {
  color: #000000;
  font-size: 2.5rem;
  font-family: "Lexend Deca", Helvetica !important;
  padding-top: 2rem;
}

@media (max-width: 992px) {
  .what-our-client {
    font-size: 1.25rem;
  }
}
.our-client-description {
  color: #000000;
  width: 80%;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 992px) {
  .our-client-description {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
  }
}

// for carousel

.testimonial-client-content {
  text-align: justify;
  color: #000000;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 6rem;
}
@media (max-width: 767.98px) {
  .testimonial-client-content {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.testimonial-customer-name {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .testimonial-customer-name {
    font-size: 0.9rem;
  }
}
.testomonial-customer-designation {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .testomonial-customer-designation {
    font-size: 0.75rem;
  }
}
