.testimonial-main-div {
  background-color: #ffffff;
  height: 35rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .testimonial-frame-div {
    border-radius: 1rem;
    background-color: #e6eaf0d6;
    height: 30rem;
    width: 90%;

    .testimonial-static-text {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text-wrapper {
        background-color: aqua;
        color: #000000;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 4rem;
        letter-spacing: normal;
      }

      @media (max-width: 767.98px) {
        .text-wrapper {
          color: #000000;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .text-wrapper {
          color: #000000;
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      .testimonial-textwrapper-2-our {
        font-size: 1.25rem;
        color: #000000;
        font-weight: 300;
        line-height: normal;
        letter-spacing: normal;
      }

      @media (max-width: 767.98px) {
        .testimonial-textwrapper-2-our {
          font-size: 0.85rem;
          text-align: center;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .testimonial-textwrapper-2-our {
          font-size: 1rem;
        }
      }
    }

    .testimonial-carousel-section {
      width: 90%;
      height: 25rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      .testimonial-carousel-button-cont {
        width: 100%;
        height: 20rem;

        .div-testimonial-content {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          .testimonial-customer-content {
            width: 75%;
            height: 6.8rem;
            font-size: 1.5rem;
            color: #000000;
            font-weight: 400;
            overflow: hidden;
          }

          @media (max-width: 767.98px) {
            .testimonial-customer-content {
              height: 6.5rem;
              font-size: 0.75rem;
            }
          }

          @media (min-width: 768px) and (max-width: 1366px) {
            .testimonial-customer-content {
              font-size: 1rem;
            }
          }
        }
      }

      .testimonial-customer-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;

        .testimonial-customer-image {
          .testimonial-customer-image {
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
          }

          @media (max-width: 767.98px) {
            .testimonial-customer-image {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }

        .testimonial-customer-other-details {
          .testimonial-customer-name {
            color: #000000;
            font-weight: 500;
            font-size: 1.2rem;
          }

          @media (max-width: 767.98px) {
            .testimonial-customer-name {
              font-size: 0.9rem;
            }
          }

          @media (min-width: 768px) and (max-width: 1366px) {
            .testimonial-customer-name {
              font-size: 1rem;
            }
          }

          .testimonial-customer-designation {
            color: #000000;
            font-weight: 300;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
          }

          @media (max-width: 767.98px) {
            .testimonial-customer-designation {
              width: 10rem;
              font-size: 0.7rem;
              display: flex;
              justify-content: flex-start;
            }
          }

          @media (min-width: 768px) and (max-width: 1366px) {
            .testimonial-customer-designation {
              width: 12rem;
              font-size: 0.8rem;
            }
          }
        }
      }

      @media (max-width: 767.98px) {
        .testimonial-customer-details {
          margin-top: 0rem;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .testimonial-customer-details {
          margin-top: 0.5rem;
        }
      }
    }

    @media (max-width: 767.98px) {
      .testimonial-carousel-section {
        height: 17rem;
        margin-top: 2rem;
      }
    }

    @media (min-width: 768px) and (max-width: 1366px) {
      .testimonial-carousel-section {
        margin-top: 0rem;
      }
    }
  }

  @media (max-width: 767.98px) {
    .testimonial-frame-div {
      height: 18rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1366px) {
    .testimonial-frame-div {
      height: 22rem;
    }
  }
}

@media (max-width: 767.98px) {
  .testimonial-main-div {
    height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .testimonial-main-div {
    height: 26rem;
  }
}

.testimonial-previous,
.testimonial-next {
  height: 2.5rem;
  // z-index: 10;
}

@media (max-width: 767.98px) {
  .testimonial-previous,
  .testimonial-next {
    height: 1.5rem;
    margin-top: -12rem;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .testimonial-previous,
  .testimonial-next {
    height: 2rem;
    margin-top: -10rem;
  }
}

.half-width {
  width: 50%;
}
