@import "../../../portfolio.scss";

.section {
  padding: 3.563rem 0 3.438rem 0;
  background-color: #f6f6f6;
  .title {
    font-family: $title-font-stack !important;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 4.188rem;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .section {
    padding-bottom: 1.656rem;

    .title {
      font-size: 1.25rem;
      line-height: 1.28;
      margin-bottom: 2.688rem;
    }
  }
}

@media (max-width: 425px) {
  .section {
    .title {
      font-size: 1.0625rem;
    }
  }
}
