.snapShotMobile,
.snapShotDesktop,
.snapShotTablet {
  border: 2px solid red;
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  .placeHolder {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .productImg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .phoneImg {
    top: -3.5%;
    transform: scale(0.9);
  }
  .tabletImg {
    // top: -7px;
    transform: scale(0.925);
  }
  .laptopImg {
    left: 50%;
    transform: translate(-50%, 0) scale(0.95);
    // bottom: 1px;
    width: 85%;
  }
}
