// MobileMenu.module.scss

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 90.5%;
  height: 100vh;
  z-index: 150;
  background-color: white;
  transform: translateX(-101%);
  transition: transform 0.3s;

  &.open {
    transform: translateX(0);
  }
}

.closeBtnContainer {
  margin-top: 1.4rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25rem;
}

.menuList {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  gap: 2.5rem;
  font-family: "Lexend Deca", serif;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 6.25rem;
  list-style: none;
}

.menuItem {
  color: black;

  &.active {
    color: #142e5f;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  padding-bottom: 0.6875rem;
  border-top: 1px solid black;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  .icon {
    color: black;
    width: 1.25rem;
    height: 1.25rem;
  }
  .icon:hover {
    color: #142e5f;
  }
}
