@import "../../../services.scss";

.sectionContainer {
  display: flex;
  // border: 1px solid black;
  padding: 1.6563rem 0;
  justify-content: space-between;
  align-items: center;

  .contentLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 34rem;
    gap: 2.6875rem;
    .title {
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 1;
      margin: 0;
      font-family: $title-font-stack;
    }
    .description {
      line-height: 2;
      font-size: 1rem;
      font-weight: 400;
      text-align: justify;
      margin: 0;
    }
    .btn {
      margin-top: 5.0625rem;
      padding: 0.9375rem 1.875rem 0.875rem;
      // height: 3.125rem;
      border: 2px solid #1d4912;
      background-color: #1d4912;
      color: white;
      font-size: 1rem;
      line-height: 1.15;
      text-decoration: none;
      border-radius: 0.5rem;
      display: inline-block;
      // display: flex;
    }

    .btn:hover {
      background-color: #ffffff;
      color: #142e5f;
      border: 2px solid #142e5f;
    }
  }

  .contentRight {
    padding: 0.625rem;
    flex-basis: 38.625rem;

    .btn {
      display: none;
    }
  }
}

@media (max-width: 1399px) {
  .sectionContainer {
    gap: 5.125rem;
  }
}
@media (max-width: 1196px) {
  .sectionContainer {
    gap: 2.125rem;
  }
}

@media (max-width: 991px) {
  .sectionContainer {
    flex-direction: column;
    padding: 1.5625rem 0 1.5rem;

    .contentLeft {
      flex-basis: auto;
      gap: 1.5rem;
      width: 78%;

      .title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.28;
        text-align: center;
      }
      .description {
        font-size: 0.875rem;
        line-height: 1.28;
      }

      .btn {
        display: none;
      }
    }

    .contentRight {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 78%;
      flex-basis: auto;

      .btn {
        margin-top: 0.5rem;
        padding: 0.375rem 0.9375rem;
        // height: 3.125rem;
        background-color: #1d4912;
        border: none;
        color: white;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-decoration: none;
        border-radius: 0.25rem;
        display: inline-block;
        align-self: center;
        // display: flex;
      }
    }
  }
}
@media (max-width: 425px) {
  .sectionContainer {
    .contentLeft {
      .title {
        font-size: 1.0625rem;
      }
      .description {
        font-size: 0.75rem;
      }
    }

    .contentRight {
      .btn {
        font-size: 0.75rem;
      }
    }
  }
}
