.phaseContainer {
  padding-right: 3.5787rem;
  padding-left: 1.1712rem;

  .iconContainer {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;

    img {
      height: 100%;
      object-fit: cover;
      padding: 1rem;
    }
  }
}

@media (max-width: 991px) {
  .phaseContainer {
    padding-right: 2.0625rem;
    padding-left: 0.625rem;

    .iconContainer {
      width: 2.8125rem;
      height: 2.8125rem;

      img {
        padding: 0.4rem;
      }
    }
  }
}
