.services {
  margin-bottom: 4rem;
}

.service-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  justify-content: center;
  place-items: center;
}

.service-card > a {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .service-card {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .service-card > a {
    width: auto;
  }
}

.service-text-info {
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  margin-bottom: 4rem;

  .text-wrapper {
    color: #000000;
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.88rem;
    position: relative;
    width: "fit-content";
  }

  @media (max-width: 767.98px) {
    .text-wrapper {
      font-size: 1.25rem;
      line-height: 1rem;
    }
  }

  .text-wrapper-2 {
    color: #000000;
    font-family: "Avenir-Book", Helvetica;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6rem;
    position: relative;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 767.98px) {
    .text-wrapper-2 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: -0.8rem;
      margin-bottom: -1rem;
    }
  }
}

@media (max-width: 767.98px) {
  .service-text-info {
    margin-bottom: 1rem;
  }
}
.card {
  width: 100%;
  border: none;
}

.frame {
  border: none;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 9px #00000017;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  height: 18.75rem;
  overflow: hidden;
  position: relative;
  .NAS {
    height: 7rem;
    position: relative;
    width: 7rem;
  }
  .wrapper {
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 1.88rem;
  }
  @media (max-width: 767.98px) {
    .wrapper {
      font-size: 1rem;
    }
  }

  .p {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.28rem;
    text-align: center;
    width: 75%;
    overflow: hidden;
  }
}
@media (max-width: 767.98px) {
  .frame {
    width: 100%;
    // left: 2.8rem;
  }

  .desktop-view {
    // display: none;
  }
  .mobile-view {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .frame {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mobile-view {
    display: none;
  }
}

.service-previous,
.service-next {
  margin-left: 0.5rem;
}
.service-mobile {
  width: 94%;
}
