.mission-vision-main {
  .mission-main {
    margin-top: 2rem;
    .mission-text {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Lexend Deca", sans-serif !important;
      margin-left: 20rem;
    }
    @media (min-width: 768px) and (max-width: 1366px) {
      .mission-text {
        margin-left: 10rem;
      }
    }
    @media (max-width: 767.98px) {
      .mission-text {
        font-size: 1.25rem;
        margin-left: 10rem;
      }
    }
    .mission-frame {
      display: flex;
      padding: 0rem;

      .mission-image-div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 50%;
        .mission-image {
          border-radius: 1rem;
          object-fit: cover;
          height: 25rem;
          width: 40rem;
        }
        @media (min-width: 768px) and (max-width: 1366px) {
          .mission-image {
            height: 20rem;
            width: 25rem;
          }
        }

        @media (max-width: 767.98px) {
          .mission-image {
            height: 15rem;
            width: 100%;
          }
        }
      }
      @media (max-width: 767.98px) {
        .mission-image-div {
          width: 70%;
        }
      }

      .mission-content {
        width: 50%;
        padding: 0rem 3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .mission-group-text {
          padding: 1rem 0rem;
          width: 65%;

          .mission-description {
            padding: 0.5rem 0rem;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2rem;
            text-align: center;
          }

          @media (max-width: 767.98px) {
            .mission-description {
              font-size: 1rem;
              padding: 0.5rem;
            }
          }

          .mission-right {
            display: flex;
            justify-content: flex-end;
          }
        }
        @media (min-width: 768px) and (max-width: 1366px) {
          .mission-group-text {
            width: 80%;
          }
        }

        @media (max-width: 767.98px) {
          .mission-group-text {
            width: 95%;
          }
        }
      }

      @media (max-width: 767.98px) {
        .mission-content {
          width: 100%;
        }
      }
    }

    @media (max-width: 767.98px) {
      .mission-frame {
        flex-direction: column;
        padding: 1rem;
      }
    }
  }

  .vision-main {
    .vision-text {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-family: "Lexend Deca", sans-serif !important;
      margin-left: 67rem;
    }
    @media (min-width: 768px) and (max-width: 1366px) {
      .vision-text {
        margin-left: 35rem;
      }
    }
    @media (max-width: 767.98px) {
      .vision-text {
        font-size: 1.25rem;
        margin-left: 10rem;
      }
    }
    .vision-frame {
      display: flex;
      padding: 0rem;

      .vision-content {
        width: 50%;
        padding: 0rem 3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .vision-group-text {
          width: 65%;

          .vision-description {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2rem;
            text-align: center;
          }
          @media (max-width: 767.98px) {
            .vision-description {
              font-size: 1rem;
              padding: 0.5rem;
            }
          }

          .vision-right {
            display: flex;
            justify-content: flex-end;
          }
        }
        @media (min-width: 768px) and (max-width: 1366px) {
          .vision-group-text {
            width: 80%;
          }
        }
        @media (max-width: 767.98px) {
          .vision-group-text {
            width: 95%;
          }
        }
      }
      @media (max-width: 767.98px) {
        .vision-content {
          width: 100%;
          order: 1;
        }
      }

      .vision-image-div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 50%;

        .vision-image {
          border-radius: 1rem;
          object-fit: cover;
          height: 25rem;
          width: 40rem;
        }
        @media (min-width: 768px) and (max-width: 1366px) {
          .vision-image {
            height: 20rem;
            width: 25rem;
          }
        }

        @media (max-width: 767.98px) {
          .vision-image {
            height: 15rem;
            width: 100%;
          }
        }
      }
      @media (max-width: 767.98px) {
        .vision-image-div {
          width: 70%;
        }
      }
    }

    @media (max-width: 767.98px) {
      .vision-frame {
        flex-direction: column;
        padding: 1rem;
      }
    }
  }
}
