.portfolio-title {
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .portfolio-title {
    height: 3rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.12;
  }
}
.portfolio-project-type {
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
}
.portfolio-description {
  color: #000000;
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
  line-height: 2rem;
  width: 75%;
}
.portfolio-button {
  font-size: 1.25rem;
  color: #000000;
  font-weight: 300;
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .portfolio-button {
    font-size: 1rem;
  }
}

.portfolio-button:hover {
  transform: scale(1.2);
}

@media (max-width: 767.98px) {
  .portfolio-button {
    font-size: 1rem;
  }
}
