.card-portfolio {
  background-color: #ffffff;
  margin-left: 3rem;
}
@media (max-width: 767.98px) {
  .card-portfolio {
    background-color: #ffffff;
    margin-left: 1.5rem;
  }
}

.portfolio-div-wrapper {
  width: 100%;
}

.frame1 {
  align-items: center;
  border: 0.9px solid;
  border-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 28.81rem;
  padding: 1rem;
  position: relative;
  width: 40rem;

  .div-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 17rem;
    // width: 95%;
    .div-2 {
      align-items: flex-start;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;
      width: 20rem;

      .div-3 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 0.25rem;
        position: relative;

        .text-wrapper {
          color: #000000;
          font-family: "Avenir-Book", Helvetica;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 1.43rem;
          position: relative;
          // width: 98%;
          width: 19rem;
        }

        @media (max-width: 767.98px) {
          .text-wrapper {
            font-size: 0.6rem;
            line-height: 1.2rem;
          }
        }

        @media (min-width: 768px) and (max-width: 992px) {
          .text-wrapper {
            font-size: 0.8rem;
            line-height: 1.5rem;
            width: 8rem;
          }
        }

        .content {
          color: #000000;
          font-family: "Avenir-Book", Helvetica;
          font-size: 1.68rem;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 2.16rem;
          position: relative;
          width: 19rem;
          overflow: hidden;
        }

        @media (max-width: 767.98px) {
          .content {
            font-size: 1rem;
            width: 10rem;
            font-weight: 400;
            line-height: 1.5rem;
          }
        }

        @media (min-width: 768px) and (max-width: 992px) {
          .content {
            font-size: 1.1rem;
            width: 8rem;
            line-height: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1366px) {
      .div-2 {
        width: 15rem;
      }
    }

    .text-wrapper-2 {
      color: #000000;
      font-family: "Avenir-Light", Helvetica;
      font-size: 0.98rem;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.26rem;
      position: relative;
      // width: 19rem;
      width: 85%;
      height: 6.5rem;
      text-align: justify;
      overflow: hidden;
    }

    @media (max-width: 767.98px) {
      .text-wrapper-2 {
        font-size: 0.6rem;
        font-weight: 300;
        line-height: 0.8rem;
        width: 10rem;
        height: 4rem;
      }
    }

    @media (min-width: 768px) and (max-width: 992px) {
      .text-wrapper-2 {
        font-size: 0.8rem;
        width: 8rem;
        line-height: 1.1rem;
        height: 4.5rem;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1366px) {
    .div-1 {
      width: 15rem;
    }
  }

  .div-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.3rem;
    justify-content: center;
    position: relative;

    .text-wrapper-3 {
      color: #000000;
      font-family: "Avenir-Heavy", Helvetica;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.25rem;
      position: relative;
      text-decoration: underline;
      white-space: nowrap;
      cursor: pointer;
    }

    @media (max-width: 767.98px) {
      .text-wrapper-3 {
        font-weight: 400;
        font-size: 0.56rem;
        line-height: 0.72rem;
        margin-top: -2rem;
      }
    }

    @media (min-width: 768px) and (max-width: 992px) {
      .text-wrapper-3 {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        margin-top: -2rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .frame1 {
    height: 18rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .frame1 {
    height: 18rem;
  }
}

.large_image {
  height: 22rem;
  position: relative;
  width: 14.8rem;
  margin-left: 0.5rem;
  border-radius: 0rem 1.5rem 0rem 1.5rem;
}

@media (max-width: 767.98px) {
  .large_image {
    height: 13.04rem;
    width: 8.64rem;
    margin-left: -6rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .large_image {
    height: 11rem;
    width: 6rem;
    margin-left: -9rem;
  }
}

.car {
}
@media (max-width: 767.98px) {
  .car {
    margin-left: 1.5rem;
  }
}

.small_frame {
  background-color: #ffffff;
  border: 0.9px solid;
  border-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1.2rem;
  width: 20rem;
  height: 28.81rem;

  .small_div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2rem;
    top: 0.5rem;
    position: relative;

    .small_div-2 {
      align-items: flex-start;
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 0.6rem;

      .small_text-wrapper {
        color: #000000;
        font-family: "Avenir-Book", Helvetica;
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        width: 95%;
        overflow: hidden;
      }

      @media (max-width: 767.98px) {
        .small_text-wrapper {
          font-size: 0.625rem;
          line-height: 0.75rem;
          font-weight: 400;
          line-height: 0.8rem;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .small_text-wrapper {
          width: 10rem;
          font-size: 0.8rem;
          line-height: 1.2rem;
        }
      }

      .small_text-wrapper-2 {
        color: #000000;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 2.1rem;
        width: 16.5rem;
        height: 2.6rem;
        overflow: hidden;
      }

      @media (max-width: 767.98px) {
        .small_text-wrapper-2 {
          font-size: 1rem;
          font-weight: 600;
          width: 9rem;
          line-height: 1.5rem;
          width: 99%;
          // width: 8.96rem;
          margin-bottom: -1rem;
        }
      }

      @media (min-width: 768px) and (max-width: 992px) {
        .small_text-wrapper-2 {
          font-size: 1.1rem;
          width: 10rem;
          line-height: 1.4rem;
          font-weight: 500;
          height: 2.5rem;
        }
      }
    }

    .small_p {
      color: #000000;
      font-family: "Avenir-Book", Helvetica;
      font-size: 0.98rem;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.27rem;
      position: relative;
      // width: 14.7rem;
      width: 95%;
      height: 5rem;
      overflow: hidden;
      text-align: justify;
      margin-bottom: 1rem;
    }

    @media (max-width: 767.98px) {
      .small_p {
        font-weight: 400;
        font-size: 0.6rem;
        // width: 9.22rem;
        line-height: 0.8rem;
        height: 3rem;
      }
    }

    @media (min-width: 768px) and (max-width: 992px) {
      .small_p {
        font-size: 0.8rem;
        width: 10rem;
        line-height: 1.2rem;
        height: 3.5rem;
        margin-top: -1rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .small_frame {
    width: 10rem;
    height: 18rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .small_frame {
    width: 12rem;
    height: 18rem;
    margin-left: -1rem;
    justify-content: flex-start;
  }
}

.small-learn {
  cursor: pointer;
  position: relative;

  .small-learn-style {
    color: #000000;
    font-family: "Avenir-Heavy", Helvetica;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    text-decoration: underline;
    white-space: nowrap;
  }

  @media (max-width: 767.98px) {
    .small-learn-style {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 0.63rem;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .small-learn-style {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

.small_image {
  height: 12rem;
  position: relative;
  padding: 1rem;
  width: 19rem;
  margin-top: 1rem;
  margin-left: -1.5rem;
  border-radius: 0 2rem 0 2rem;
}

@media (max-width: 767.98px) {
  .small_image {
    height: 6.94rem;
    width: 10.05rem;
    margin-top: 0rem;
    padding: 1rem;
    margin-left: -1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .small_image {
    width: 11.5rem;
    height: 6rem;
    margin-left: -1rem;
    margin-top: -0.5rem;
  }
}

.preicon {
  margin-right: 5rem;
  background-color: aquamarine;
}

.nexticon {
  margin-left: 5rem;
  background-color: aquamarine;
}

.description-width {
  width: 60%;
}
