.subscribe-main {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .subscribe-text {
    color: #142e5f;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    font-weight: 800;
    width: 17rem;
  }
  @media (max-width: 991px) {
    .subscribe-text {
      font-size: 0.875rem;
      font-weight: 800;
      width: auto;
      line-height: 1.28;
    }
  }
  // @media (min-width: 768px) and (max-width: 1366px) {
  //   .subscribe-text {
  //     font-size: 1.2rem;
  //     font-weight: 700;
  //     width: 14rem;
  //   }
  // }
  .subscribe-email {
    border: 1px solid;
    width: 26rem;
    height: 3rem;
    border-radius: 0.5rem;
    .place-holder {
      background-color: transparent;
      height: 2.5rem;
      font-size: 1rem;
      margin-left: 2rem;
      width: 23rem;
      margin-top: 2px;
      border: none;
      outline: none;
    }
    @media (max-width: 767.98px) {
      .place-holder {
        width: 14rem;
        font-size: 0.8rem;
      }
    }
    @media (min-width: 768px) and (max-width: 1366px) {
      .place-holder {
        width: 16rem;
        font-size: 0.9rem;
      }
    }
  }
  @media (max-width: 767.98px) {
    .subscribe-email {
      width: 17rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1366px) {
    .subscribe-email {
      width: 20rem;
    }
  }
  .subscribe-button {
    border: none;
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 500;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #142e5f;
  }
  .subscribe-button:hover {
    background-color: #ffffff;
    color: #142e5f;
    border: 2px solid #142e5f;
  }
  @media (max-width: 991px) {
    .subscribe-button {
      font-size: 0.75rem;
      line-height: 1.25rem;
      width: 17rem;
    }
  }
  // @media (min-width: 768px) and (max-width: 1366px) {
  //   .subscribe-button {
  //     font-size: 1rem;
  //     width: 6rem;
  //   }
  // }
}
@media (max-width: 767.98px) {
  .subscribe-main {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
