@import "../../../portfolio.scss";

.section {
  padding: 3.125rem 0 5.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: $title-font-stack;
  }

  .subtitle {
    margin-top: 1.25rem;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    width: 39.95%;
    align-self: center;
    text-align: center;
  }

  .lists {
    margin: 4.75rem auto 0;
    padding: 0;
    display: flex;
    width: 71.1%;
    justify-content: space-between;
    flex-wrap: wrap;

    .leftContainer,
    .rightContainer {
      display: flex;
      flex-direction: column;
      gap: 2.375rem;
    }

    li {
      width: fit-content;
      display: flex;
      gap: 1.688rem;
      align-items: center;
      line-height: 1.25rem;
      font-weight: 400;
      font-size: 1.4375rem;
      font-family: $normal-font-stack;

      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .sectionContainer {
    background-color: $grey-background;
    .section {
      padding: 2.25rem 0;

      .title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.28;
      }

      .subtitle {
        width: 88.73%;
        margin-top: 0.938rem;
        line-height: 1.28;
        font-size: 0.875rem;
      }

      .lists {
        margin-top: 2.125rem;
        flex-direction: column;
        gap: 1.25rem;
        width: 69.9%;

        .leftContainer,
        .rightContainer {
          gap: 1.25rem;
        }

        li {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .sectionContainer {
    .section {
      .title {
        font-size: 1.0625rem;
      }

      .subtitle {
        font-size: 0.75rem;
      }

      .lists {
        li {
          font-size: 0.75rem;
        }
      }
    }
  }
}
