.blog-home-main {
  background-color: #f7f7f780;
  height: 20rem;
  position: relative;
  width: 100%;

  .blog-home-frame {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blog-home-text {
      color: #022c66;
      font-family: "Lexend Deca", sans-serif !important;
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 2rem;
      position: relative;
    }

    @media (max-width: 767.98px) {
      .blog-home-text {
        font-size: 2rem;
      }
    }

    .blog-home-p {
      color: #022c66;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 2rem;
      position: relative;
      text-align: center;
    }

    @media (max-width: 767.98px) {
      .blog-home-p {
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }

  .design-baclground-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .blog-home-design-left {
      height: 20rem;
      width: 30%;
    }

    @media (max-width: 767.98px) {
      .blog-home-design-left {
        height: 15rem;
        width: 50%;
      }
    }

    .blog-home-design-right {
      height: 20rem;
      width: 40%;
    }

    @media (max-width: 767.98px) {
      .blog-home-design-right {
        height: 15rem;
        width: 50%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .blog-home-main {
    height: 15rem;
  }
}

.blog-details-main-page {
  padding: 3rem;
  width: 100%;

  .redirect-blog {
    .blog-details-main-frame {
      margin-left: 4.5rem;
      .blog-details-main-title {
        font-size: 1.5rem;
        font-weight: 600;
        width: 90%;
        line-height: normal;
        letter-spacing: 0;
        text-align: justify;
      }

      @media (max-width: 1366px) {
        .blog-details-main-title {
          padding-top: 1rem;
          font-size: 1rem;
          width: 100%;
          text-align: center;
        }
      }

      .blog-details-date-author {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 3rem;
        opacity: 0.7;
        margin-top: 2rem;
        gap: 6rem;
        width: 90%;
        margin-bottom: 1rem;
      }

      @media (max-width: 767.98px) {
        .blog-details-date-author {
          font-size: 0.8rem;
          gap: 0rem;
          width: 100%;
          justify-content: space-between;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .blog-details-date-author {
          font-size: 1rem;
          width: 90%;
          gap: 2rem;
          margin-top: 1rem;
        }
      }
    }

    @media (max-width: 1366px) {
      .blog-details-main-frame {
        margin-left: 0.5rem;
      }
    }

    .blog-details-redirect-image {
      object-fit: cover;
    }

    @media (max-width: 1366px) {
      .blog-details-redirect-image {
        height: 12rem;
        width: 18rem;
      }
    }

    .blog-details-description {
      .blog-details-redirect-des {
        width: 75%;
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 2rem;
        line-height: 2rem;
      }

      @media (max-width: 767.98px) {
        .blog-details-redirect-des {
          width: 100%;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .blog-details-redirect-des {
          width: 95%;
          font-size: 1.2rem;
        }
      }

      .blog-details-redirect-p {
        font-size: 1rem;
        width: 90%;
        line-height: 2rem;
        text-align: justify;
      }

      @media (max-width: 767.98px) {
        .blog-details-redirect-p {
          font-size: 0.8rem;
          width: 100%;
          line-height: 1.25rem;
          padding-left: 1rem;
        }
      }

      @media (min-width: 768px) and (max-width: 1366px) {
        .blog-details-redirect-p {
          font-size: 0.9rem;
          width: 90%;
          line-height: 1.5rem;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .redirect-blog {
      padding-left: 1rem;
    }
  }
  .recent-blog {
    margin-top: 2rem;

    .recent-blogs-text {
      width: 80%;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2rem;
      margin-bottom: 3rem;
    }

    .blog-recent-main {
      gap: 1.5rem;
      margin-bottom: 2rem;

      .redirect-image {
        margin-top: 0.5rem;
        height: 6rem;
        width: 8rem;
      }

      .recent-content {
        width: 50%;

        .recent-title {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0;
          margin-bottom: 0.5rem;
        }

        @media (max-width: 1366px) {
          .recent-title {
            font-size: 1rem;
          }
        }

        .recent-date {
          opacity: 0.7;
        }
      }

      @media (max-width: 767.98px) {
        .recent-content {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .recent-blog {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 1366px) {
  .blog-details-main-page {
    padding: 1rem 2rem;
    width: 100%;
  }
}

.recent-blogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .recent-text {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
  }
  @media (max-width: 767.98px) {
    .recent-text {
      font-size: 1.25rem;
    }
  }

  .recent-blog-frame {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    .recent-blog-frame-card {
      text-decoration: none;
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: center;
      cursor: pointer;
      .recent-blog-image {
        border-radius: 1rem;
        object-fit: cover;
      }
      .recent-blog-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .recent-blog-title {
          width: 100%;
          font-size: 1rem;
          color: #000000;
          font-weight: 500;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }

        .recent-blog-date {
          // width: 80%;
          font-size: 1rem;
          color: #000000;
          font-weight: 500;
        }
      }
    }
  }
}
