@import "../portfolio.scss";

.portfolio-detail-main {
  // border: 1px solid red;
  margin-top: 66px;
  background-color: transparent;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

@media (max-width: 991px) {
  .portfolio-detail-main {
    margin-top: 78px;
    background-color: #fff;
  }
}
