.embla {
  // max-width: 48rem;
  margin: auto;
  overflow-x: hidden;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  overflow: hidden;
  position: relative;
}
.embla__container {
  //   position: relative;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  padding: 10px;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: none;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #d9d9d9;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 0.4375rem;
  height: 0.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot__selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla__button__next {
  position: absolute;
  top: 50%;
  transform: translate(575px, -50%);
  right: 50%;
}
.embla__button__prev {
  transform: translate(-575px, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (max-width: 1440px) {
  .embla {
    //   max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 87%;
  }
  .embla__button__next {
    transform: translate(-60%, -50%);
    right: 0%;
  }
  .embla__button__prev {
    transform: translate(50%, -50%);
    position: absolute;
    left: 0%;
  }
}

@media (max-width: 1199px) {
  .embla {
    //   max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 85%;
  }

  .embla__button__next {
    position: absolute;
    top: 50%;
    transform: translate(-60%, -50%);
    right: 0;
  }
  .embla__button__prev {
    transform: translate(50%, -50%);
    position: absolute;
    left: 0;
    top: 50%;
  }
}
@media (max-width: 991px) {
  .embla {
    //   max-width: 48rem;
    // margin: auto;
    // --slide-height: 19rem;
    // --slide-spacing: 1rem;
    --slide-size: 49%;
  }

  .embla__dots {
    // display: block;
    gap: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }

  .embla__dot__selected {
    background-color: #0e2652;
    width: 0.8125rem;
    height: 0.8125rem;
  }

  .embla__button__next {
    display: none;
  }
  .embla__button__prev {
    display: none;
  }
}

@media (max-width: 767px) {
  .embla {
    --slide-size: 65%;
  }
}

@media (max-width: 575px) {
  .embla {
    --slide-size: 70%;
    --slide-spacing: 1rem;
  }
}

@media (max-width: 488px) {
  .embla {
    --slide-size: 80%;
    --slide-spacing: 1rem;
  }
}

@media (max-width: 426px) {
  .embla {
    --slide-size: 89%;
    --slide-spacing: 1rem;
  }
}

// @media (max-width: 375px) {
//   .embla {
//     --slide-size: 90%;
//     --slide-spacing: 1rem;
//   }
// }

// @media (max-width: 30.625rem) {
//   .embla {
//     --slide-size: 69%;
//     --slide-spacing: 5rem;
//   }
// }

// @media (max-width: 30.625rem) {
//   .embla {
//     --slide-size: 74%;
//     --slide-spacing: 0rem;
//   }
// }

// @media (max-width: 27.1875rem) {
//   .embla {
//     --slide-size: 80%;
//     --slide-spacing: 2rem;
//   }
// }
