.servicesSection {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
  padding-top: 2.8125rem;
  padding-bottom: 4.0625rem;
}

@media (max-width: 991px) {
  .servicesSection {
    padding: 2rem 2rem 2.125rem 2rem;
    gap: 1.5rem;
  }
}
