@import "../../portfolio.scss";

.GIT-container {
  padding-top: 2.875rem;
  padding-bottom: 4.188rem;
  // max-width: 78.75rem;
  // margin: 6.313rem auto 3.563rem;

  .GIT-heading {
    margin-bottom: 2.125rem;
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    font-family: $title-font-stack;
  }

  .GIT-content {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .GIT-container {
    .GIT-heading {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 1.625rem;
      line-height: 1.28;
    }

    .GIT-content {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 425px) {
  .GIT-container {
    .GIT-heading {
      font-size: 1.0625rem;
    }

    .GIT-content {
      flex-direction: column;
      align-items: center;
    }
  }
}
