@import "../../../services.scss";

.sectionContainer {
  padding: 3rem 0 4.1875rem;
  display: flex;
  flex-direction: column;
  gap: 4.25rem;

  .title {
    font-size: 2.0625rem;
    font-weight: 700;
    font-family: $title-font-stack;
    line-height: 1.15;
    margin: 0;
    text-align: center;
  }

  .usesContainer {
    display: grid;
    grid-template-columns: repeat(2, 35.5625rem);
    // column-gap: 4.125rem;
    justify-content: space-between;
    row-gap: 4.25rem;
    // column-gap: 7.6875rem;
  }
}

@media (max-width: 1399px) {
  .sectionContainer {
    .title {
    }

    .usesContainer {
      grid-template-columns: repeat(2, 28.125rem);
    }
  }
}

@media (max-width: 991px) {
  .sectionContainer {
    padding: 1.6875rem 0 1.9688rem;
    gap: 1.75rem;

    .title {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.28;
    }

    .usesContainer {
      justify-content: center;
      // grid-template-columns: min(17.6563rem, 65%);
      grid-template-columns: clamp(75%, 17.6563rem, 65%);
      row-gap: 1.4063rem;
    }
  }
}
@media (max-width: 425px) {
  .sectionContainer {
    .title {
      font-size: 1.0625rem;
    }
  }
}
