@import "../../../../portfolio.scss";
.specialization {
  max-width: 48rem;
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1.188rem;
  --slide-size: 30%;
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-body: rgb(54, 49, 61);
}
.specialization__viewport {
  overflow: hidden;
}
.specialization__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.specialization__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.specialization__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  // border-radius: 1.8rem;
  // font-size: 4rem;
  padding: 1.875rem 0;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  // justify-content: space-between;
  height: var(--slide-height);
  user-select: none;
}
.specialization__controls {
  display: grid;
  grid-template-columns: 1fr !important;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.375rem;
}

.specialization__controls {
  grid-template-columns: auto 1fr auto;
}

.specialization__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.specialization__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  // height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.specialization__dot:after {
  background-color: #9ca6ba;
  width: 0.563rem;
  height: 0.563rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.specialization__dot--selected:after {
  width: 0.75rem;
  height: 0.75rem;
  background-color: $brand-color;
}

.specialization_icon {
  width: 2.5rem;
  height: 2.5rem;
}

.specialization_title {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 991px) {
  .specialization {
    // max-width: 48rem;
    // margin: auto;
    --slide-height: 5rem;
    --slide-spacing: 0.813rem;
    --slide-size: 28%;
  }
  .specialization__controls {
    margin-top: 1.375rem;
  }
  .specialization__dot {
    width: 1rem;
  }
  .specialization__dot:after {
    width: 0.2815rem;
    height: 0.2815rem;
  }
  .specialization__dot--selected:after {
    width: 0.375rem;
    height: 0.375rem;
    background-color: $brand-color;
  }

  .specialization_icon {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 991px) {
  .specialization_icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .specialization_title {
    margin: 0;
    font-size: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: 400;
    text-align: center;
  }
  .specialization__slide__number {
    gap: 0.3rem;
  }
}
